#container>ul{
position:relative;
left:-40px;
   list-style:none;
margin-left:20px;
margin-top:0px;
   }
 #container ul li{
margin-top:0px;
        float:left;
         background-color:#000080;
          width:calc(100%/8);
         height:50px;
  font-size:18px;
 text-align:center;
   line-height:50px;
  }
   #container ul li:hover{
   background-color:black;
   }
   #container a{
    display:block;
text-decoration:none;
color:white;
}
#container ul li ul li{
width:200px;
display:block;
}
#container li ul{
 display:none;
 }
#container li:hover ul {
display:block;
}

    